.row {
  width: 100%;
}

.article-item {
  width: 100%;
  padding: 10px;
  margin: 20px 0px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.article-item-img {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.article-item-title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
  background-color: rgba(255, 255, 255, 0.85);
  color: var(--black);
  padding: 3px 15px;
}

.article-item-title .year {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.article-item-title .date {
  font-size: 14px;
}