.main-bg {
  min-height: 100vh;
  background-image: url("../image/main_bg.png");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20vh;
}

.main-title {
  color: var(--white);
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.main-btn {
  display: inline-block;
  background-color: var(--main-color);
  padding: 10px 20px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  color: var(--white);
  font-size: 14px;
  cursor: pointer;
}

.main-btn:hover {
  background-color: var(--white);
  color: var(--main-color);
}

@media (max-width: 576px) {
  .main-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}