.main-bg {
  min-height: 100vh;
  background-image: url("image/main_bg.png");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-bg .main-title {
  color: var(--white);
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 60px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 30px;
}

.main-bg .main-btn {
  display: inline-block;
  background-color: var(--main-color);
  padding: 10px 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: var(--white);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.main-bg .main-btn:hover {
  background-color: var(--white);
  color: var(--main-color);
}

@media (max-width: 576px) {
  .main-bg .main-title {
    font-size: 36px;
    margin-top: 150px;
    margin-bottom: 20px;
  }
}